$primary-color: #468578;
$second-color: #f8fae5;
$third-color: #996055;
$fourth-color: #e0c097;
$text-dark-color: #2e2e2e;
$text-light-color: #f8fae5;

body {
  margin: 0;
  // padding: 25px 50px;
  background-color: $second-color;
  font-family: "Libre Baskerville", serif;
  font-size: 0.8em;
}

* {
  box-sizing: border-box;
}

a,
button,
input[type="text"],
textarea {
  min-width: 44px;
  min-height: 44px;
}

.skip-link {
  position: absolute;
  top: -80px;
  left: 0;
  background-color: crimson;
  color: $text-light-color;
  padding: 8px;
  z-index: 100;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 900;
  padding: 15px;
}

.skip-link:focus {
  top: 0;
}

.header {
  padding: 25px;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  h1 {
    color: $second-color;
    margin: 0;
    align-self: center;
    span {
      font-weight: 900;
      text-decoration: underline;
      color: $third-color;
      text-shadow: 1px 1px 0px $text-light-color;
    }
  }
  .hamburger {
    display: block;
    background: none;
    border: none;
    font-size: 2em;
    font-weight: 900;
    color: $text-light-color;
    cursor: pointer;
  }
  #navigation {
    background-color: $second-color;
    position: absolute;
    display: none;
    width: 120px;
    height: 200px;
    padding-top: 20px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      padding: 0 10px;
      li {
        list-style-type: none;
        font-size: 1em;
        font-weight: 900;

        a {
          display: block;
          text-decoration: none;
          color: black;
          padding: 0 10px;
          align-content: center;
        }
      }
    }
  }
  #navigation.open {
    top: 0;
    right: 0;
    display: flex;
  }
}

.hero {
  display: flex;
  background-image: url("../public/images/heros/hero-image_1.jpg");
  background-position: center;
  background-size: cover;
  min-height: 250px;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    font-size: 2.5em;
    text-shadow: 1px 2px 1px $text-dark-color;
    color: $text-light-color;
  }
}

main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  h1 {
    text-align: center;
    font-size: 2em;
    color: $text-dark-color;
  }
  .paragraph {
    text-indent: 3em;
    padding: 0 15px;
    text-align: justify;
    font-size: 1.25em;
    color: $text-dark-color;
  }
  .menu-items {
    padding: 10px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;

    gap: 4rem 1rem;
    .menu-item {
      background-color: $fourth-color;
      padding: 20px;
      height: max-content;
      border-radius: 0.5rem;
      figure {
        width: fit-content;
        margin: auto;
        img {
          max-width: 100%;
          display: block;
          border-radius: 0.5rem;
          height: auto;
          object-fit: cover;
        }
        .image-caption {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
          color: $text-dark-color;
          figcaption {
            span {
              color: gold;
              font-size: 1.5em;
              text-shadow: 1px 0px 0px rgb(255, 224, 51);
            }
          }
        }
      }
      .description {
        .item-name {
          text-transform: uppercase;
          color: $text-dark-color;
        }
        .item-description {
          color: $text-dark-color;
          font-style: italic;
        }
      }
    }
  }
}

footer {
  background-color: $primary-color;
  padding: 20px;
  text-align: center;
  color: $text-light-color;
}

// Tablet Size
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    .hamburger {
      display: none;
    }
    #navigation {
      display: flex;
      align-self: center;
      position: static;
      width: auto;
      height: auto;
      padding: 0;
      background: none;
      ul {
        padding: 0;
        margin: 0;
        gap: 2rem;
        flex-direction: row;
        li {
          a {
            text-decoration: none;
            color: $text-light-color;
            font-weight: 900;
            font-size: 1.25em;
          }
        }
      }
    }
  }
  .hero {
    min-height: 350px;
  }
  main {
    .menu-items {
      padding: 25px;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: 1rem;
      .menu-item {
        padding: 25px;
      }
    }
  }
}

// Desktop Size
@media screen and (min-width: 1200px) {
  .hero {
    min-width: 1000px;
  }
}
